@model CamposDealerTest.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Produto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Descrição</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dscProduto)
        </dd>

        <dt>
            <label>Valor</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlrUnitario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idProduto }) |
    @Html.ActionLink("Voltar", "Index")
</p>
