@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Projeto realizado para comprovação de conhecimentos do processo seletivo da Campos Dealer para a vaga de Desenvolvedor Web Pleno</p>
    <p>
        Os dados são armazenados no SQL Server, para isso será necessário inserir o comando add-migration e update-database via console.
        No primeiro build do projeto clique no botão Cliente e em seguida Produtos para gerar uma carga de clientes e produtos recebidos via API.
        Depois clique em vendas e será recebida uma carga de vendas via API, logo mais você poderá acessar a aplicação normalmente.
    </p>
</div>
