@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Projeto realizado para comprovação de conhecimentos do processo seletivo da Campos Dealer para a vaga de Desenvolvedor Web Pleno</p>
    <p>
        Os dados são armazenados no SQL Server, para isso será necessário inserir o comando add-migration e update-database via console.
        No primeiro build do projeto será recebido a primeira carga de clientes, produtos e vendas recebidos via API.
        Com isso a aplicação web está pronta para ser testada.
    </p>
</div>
